.footer-container {
  background-color: var(--color-dark-blue);
  color: white;
  min-height: 10vh;
  padding: 10px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  color: var(--color-footer-text);
}

.footer-icons i {
  margin: 0 10px;
  font-size: 1.5em;
}

.footer-icons a {
  color: var(--color-footer-text);
  transition: 0.3s all;
}

.footer p {
  transition: 0.5s all;
}

.footer p:hover,
.footer-icons a:hover {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-direction: column;
  }
  .footer p {
    margin: 10px 0;
  }
}
