.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
}
